@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

/* Style the buttons that are used to open and close the accordion panel */
.container {
  width: 700px;
  margin: 100px auto;
}

.accordion {
  position: relative;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* padding: 18px; */

  text-align: left;
  border: none;
  outline: none;
  transition: 0.3s ease;
  padding: 24px;

  margin-bottom: 50px;
}

.accordion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.accordion.active::before {
  background: #087f5d;
}

.content-container {
  display: flex;
  align-items: center;

  gap: 24px;
}

.title {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 48px;

  color: #343a40;
  text-align: center;

  margin-top: 50px;
}

.num-title {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 24px;

  margin: 0;
  color: #ced4da;
}

.accordion.active .num-title {
  color: #087f5d;
}

.acc-title {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 24px;

  color: #343a40;
  /* padding: 24px; */
  margin: 0;
}

.accordion.active .acc-title {
  color: #087f5d;
}

.acc-content {
  font-family: "Montserrat";
  font-size: 16px;
  color: #343a40;
  line-height: 1.4em;

  padding: 24px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Hvis .accordion har .actice class'en, skal den være display block. Hvis ikke - display none */
.accordion .panel {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  /* display: none; */
}

.accordion.active .panel {
  max-height: 500px;
  opacity: 1;
  /* display: block; */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
  background-color: white;
  overflow: hidden;
}

.show {
  display: none;
}

/* Icons */

.accordion-icon {
  position: relative;
}

.icon-cheveron-right {
  position: absolute;
  right: 0;
  top: -4px;
  font-size: 45px;
  color: #087f5d;
  transition: transform 250ms ease;
}

.accordion.active .icon-cheveron-right {
  transform: rotate(90deg);
}
